.next{
    left: 140px;
}
.prev{
    left: 100px;
}
.prev, .next {
    position: absolute;
    top: 320px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}
.slider{
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 40px 0;
}
.sliders img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    flex-shrink: 0;
    padding: 10px;
    display: none;
}
img.displaySlide{
    display: block;
}